html{
    background: rgb(59, 57, 73);
    
}


.fa-sharp{
    color:red
}

html{
    font-family: "Bubbly"
}
 html{
    color:rgb(177, 155, 236)
 }

 html{
    font-size: 25px;
 }

 h1{
    border-style: solid;
    border-width:5px ;
    border-radius: 1px;
    margin-right: 48cm;
 }