html{
    background: rgb(0, 66, 37)
    
}


.fa-sharp{
    color:red
}

html{
    font-family: "Bubbly"
}
 html{
    color:rgb(245, 245, 220)
 }

 html{
    font-size: 25px;
 }



 h1{color: rgb(255, 176, 0);}

 h2{color: rgb(255, 207, 157);}

 h1{text-shadow: 2px 2px 4px whitesmoke;